@import url('/style.css');

.footer {
  height: 80px;
  width: 100%;
}

.footer > p {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
}
@media (max-width: 426px) {
  .footer > p {
    font-size: 10px;
  }
  .footer {
    height: 50px;
  }
}
